.game-heading{
    text-align: center;
}

.game-heading h1{
    color: crimson;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

.game-container{
    text-align: center;
}

.restart-button{
    height: 300px;
    vertical-align: middle;
    z-index: 500;
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
}

.restart-button div{
    background-color:palegoldenrod;
    padding: 2px 10px;
    margin-left: 200px;
    border: 1px solid goldenrod;
    color: darkslategray;
    text-decoration-line: none;
}

.restart-button div a{
    background-color:palegoldenrod;
    color: darkslategray;
    text-decoration-line: none;
}

#score{
    display: none;
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}